BODY {
	OVERFLOW-Y: scroll; SCROLLBAR-FACE-COLOR: #fff; OVERFLOW-X: hidden; MARGIN: 0px; SCROLLBAR-HIGHLIGHT-COLOR: #fff; SCROLLBAR-SHADOW-COLOR: #fff; SCROLLBAR-3DLIGHT-COLOR: #fff; SCROLLBAR-ARROW-COLOR: #000; SCROLLBAR-TRACK-COLOR: #ccc; SCROLLBAR-DARKSHADOW-COLOR: #999; SCROLLBAR-BASE-COLOR: #fff; BACKGROUND-COLOR: #fff
}
.text {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #333; LINE-HEIGHT: 1.4em; FONT-FAMILY: "verdana","arial","helvetica",sans-serif
}
.text SPAN {
	FONT-WEIGHT: bold
}
.textblk {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000; LINE-HEIGHT: 1.4em; FONT-FAMILY: "verdana","arial","helvetica",sans-serif
}
.textbld {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000; LINE-HEIGHT: 1.4em; FONT-FAMILY: "verdana","arial","helvetica",sans-serif
}
.textblkdis {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #999; LINE-HEIGHT: 1.4em; FONT-FAMILY: "verdana","arial","helvetica",sans-serif
}
.textblddis {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #999; LINE-HEIGHT: 1.4em; FONT-FAMILY: "verdana","arial","helvetica",sans-serif
}
.title {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000; LINE-HEIGHT: 1.4em; FONT-FAMILY: "verdana","arial","helvetica",sans-serif
}
.titpagina {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #006; FONT-FAMILY: "arial","helvetica",sans-serif
}
.titulo {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #c00; FONT-FAMILY: "arial","helvetica",sans-serif
}
.tituloblk {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #000; FONT-FAMILY: "arial","helvetica",sans-serif
}
.subtituloblk {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000; FONT-FAMILY: "verdana","arial","helvetica",sans-serif
}
.subtitulo {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000; FONT-FAMILY: "verdana","arial","helvetica",sans-serif
}
.rodape {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #666; FONT-FAMILY: "verdana","arial","helvetica",sans-serif
}
.rodape SPAN {
	FONT-WEIGHT: bold
}
.data {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #fff; FONT-FAMILY: "verdana","arial","helvetica",sans-serif
}
.dataarquivos {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #009; FONT-FAMILY: "verdana","arial","helvetica",sans-serif
}
.alert {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #c00; FONT-FAMILY: "verdana","arial","helvetica",sans-serif
}
.h1 {
	FONT-WEIGHT: bold; FONT-SIZE: 28px; COLOR: #000; FONT-FAMILY: "verdana","arial","helvetica",sans-serif
}
.h2 {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #000; FONT-FAMILY: "verdana","arial","helvetica",sans-serif
}
.h3 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000; FONT-FAMILY: "verdana","arial","helvetica",sans-serif
}
.h4 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000; FONT-FAMILY: "verdana","arial","helvetica",sans-serif
}
.h5 {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #000; FONT-FAMILY: "arial","helvetica",sans-serif
}
.dotbg {
	BACKGROUND-IMAGE: url(/images/layout/dotbg.gif)
}
A.menu:link {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #06c; FONT-FAMILY: verdana,arial,helvetica,sans-serif; TEXT-DECORATION: none
}
A.menu:active {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #06c; FONT-FAMILY: verdana,arial,helvetica,sans-serif; TEXT-DECORATION: none
}
A.menu:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #06c; FONT-FAMILY: verdana,arial,helvetica,sans-serif; TEXT-DECORATION: none
}
A.menu:hover {
	COLOR: #000
}
A:link {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #009; FONT-FAMILY: verdana,arial,helvetica,sans-serif; TEXT-DECORATION: none
}
A:active {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #009; FONT-FAMILY: verdana,arial,helvetica,sans-serif; TEXT-DECORATION: none
}
A:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #009; FONT-FAMILY: verdana,arial,helvetica,sans-serif; TEXT-DECORATION: none
}
A:hover {
	COLOR: #000
}
A.itemhome:link {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000; FONT-FAMILY: "tahoma","arial","helvetica",sans-serif; TEXT-DECORATION: none
}
A.itemhome:active {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000; FONT-FAMILY: "tahoma","arial","helvetica",sans-serif; TEXT-DECORATION: none
}
A.itemhome:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000; FONT-FAMILY: "tahoma","arial","helvetica",sans-serif; TEXT-DECORATION: none
}
.itemhomenolink {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000; FONT-FAMILY: "tahoma","arial","helvetica",sans-serif; TEXT-DECORATION: none
}
.menustyle {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; CURSOR: default; COLOR: #06c; FONT-FAMILY: verdana,arial,helvetica,sans-serif; TEXT-DECORATION: none
}
.textbox {
	BORDER-RIGHT: #003 1px solid; BORDER-TOP: #003 1px solid; BORDER-LEFT: #003 1px solid; WIDTH: 375px; COLOR: #333; BORDER-BOTTOM: #003 1px solid; HEIGHT: 19px; BACKGROUND-COLOR: #fff
}
.textbox2 {
	BORDER-RIGHT: #003 1px solid; BORDER-TOP: #003 1px solid; BORDER-LEFT: #003 1px solid; WIDTH: 78px; COLOR: #333; BORDER-BOTTOM: #003 1px solid; HEIGHT: 19px; BACKGROUND-COLOR: #fff
}
.textbox3 {
	BORDER-RIGHT: #003 1px solid; BORDER-TOP: #003 1px solid; BORDER-LEFT: #003 1px solid; WIDTH: 410px; COLOR: #333; BORDER-BOTTOM: #003 1px solid; HEIGHT: 19px; BACKGROUND-COLOR: #fff
}
.textbox4 {
	BORDER-RIGHT: #003 1px solid; BORDER-TOP: #003 1px solid; BORDER-LEFT: #003 1px solid; WIDTH: 64px; COLOR: #333; BORDER-BOTTOM: #003 1px solid; HEIGHT: 19px; BACKGROUND-COLOR: #fff; TEXT-ALIGN: right
}
.textbox5 {
	BORDER-RIGHT: #003 1px solid; BORDER-TOP: #003 1px solid; BORDER-LEFT: #003 1px solid; WIDTH: 32px; COLOR: #333; BORDER-BOTTOM: #003 1px solid; HEIGHT: 19px; BACKGROUND-COLOR: #fff; TEXT-ALIGN: right
}
.textbox6 {
	BORDER-RIGHT: #003 1px solid; BORDER-TOP: #003 1px solid; BORDER-LEFT: #003 1px solid; WIDTH: 255px; COLOR: #333; BORDER-BOTTOM: #003 1px solid; HEIGHT: 19px; BACKGROUND-COLOR: #fff
}
.textbox7 {
	WIDTH: 410px; COLOR: #333; HEIGHT: 19px; BACKGROUND-COLOR: #fff
}
.textbox6dis {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; WIDTH: 255px; COLOR: #999; BORDER-BOTTOM: #ccc 1px solid; HEIGHT: 19px; BACKGROUND-COLOR: #fff
}
.listbox {
	FONT-SIZE: 14px; WIDTH: 255px; COLOR: #333; FONT-FAMILY: monospace,verdana,arial,helvetica,sans-serif; HEIGHT: 19px; BACKGROUND-COLOR: #fff
}
.textareastyle {
	BORDER-RIGHT: #003 1px solid; BORDER-TOP: #003 1px solid; SCROLLBAR-FACE-COLOR: #fff; FONT-SIZE: 12px; SCROLLBAR-HIGHLIGHT-COLOR: #fff; BORDER-LEFT: #003 1px solid; WIDTH: 375px; SCROLLBAR-SHADOW-COLOR: #fff; SCROLLBAR-3DLIGHT-COLOR: #fff; SCROLLBAR-ARROW-COLOR: #000; SCROLLBAR-TRACK-COLOR: #ccc; BORDER-BOTTOM: #003 1px solid; FONT-FAMILY: verdana,arial,helvetica,sans-serif; SCROLLBAR-DARKSHADOW-COLOR: #999; SCROLLBAR-BASE-COLOR: #fff
}
.buttonsty {
	BORDER-RIGHT: #06c 2px solid; BORDER-TOP: #06c 2px solid; FONT-WEIGHT: bold; FONT-SIZE: 10px; BORDER-LEFT: #06c 2px solid; WIDTH: 150px; CURSOR: hand; COLOR: #000; LINE-HEIGHT: 11px; BORDER-BOTTOM: #06c 2px solid; FONT-FAMILY: "verdana","arial","helvetica",sans-serif; HEIGHT: 19px; BACKGROUND-COLOR: #f1f1f1
}
.buttonsty2 {
	BORDER-RIGHT: #666666 2px solid; BORDER-TOP: #666666 2px solid; FONT-WEIGHT: normal; FONT-SIZE: 11px; BORDER-LEFT: #666666 2px solid; WIDTH: 78px; CURSOR: hand; COLOR: #000; LINE-HEIGHT: 11px; BORDER-BOTTOM: #666666 2px solid; FONT-FAMILY: "verdana","arial","helvetica",sans-serif; HEIGHT: 19px; BACKGROUND-COLOR: #f1f1f1
}
.buttonsty3 {
	BORDER-RIGHT: #666666 2px solid; BORDER-TOP: #666666 2px solid; FONT-WEIGHT: bold; FONT-SIZE: 10px; BORDER-LEFT: #666666 2px solid; WIDTH: 174px; CURSOR: hand; COLOR: #06c; LINE-HEIGHT: 11px; BORDER-BOTTOM: #666666 2px solid; FONT-FAMILY: "verdana","arial","helvetica",sans-serif; HEIGHT: 19px; BACKGROUND-COLOR: #f1f1f1
}
.buttonsty4 {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; WIDTH: 150px; CURSOR: hand; COLOR: #000; LINE-HEIGHT: 11px; FONT-FAMILY: "verdana","arial","helvetica",sans-serif; HEIGHT: 19px; BACKGROUND-COLOR: #f1f1f1
}
#posmenuLayer {
	Z-INDEX: 1; LEFT: 0px; VISIBILITY: hidden; WIDTH: 1px; POSITION: relative; TOP: 0px; HEIGHT: 1px
}
#menuLayer {
	Z-INDEX: 1; LEFT: 0px; VISIBILITY: visible; OVERFLOW: visible; WIDTH: 199px; POSITION: relative; TOP: 0px
}
.tarjaTitulo {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #fff; FONT-FAMILY: "verdana","arial","helvetica",sans-serif; BACKGROUND-COLOR: #000
}
.tarjaItens {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #000; FONT-FAMILY: "verdana","arial","helvetica",sans-serif; BACKGROUND-COLOR: #ddd
}
.modulo {
	WIDTH: 64px; POSITION: absolute; HEIGHT: 59px
}
.maparea {
	Z-INDEX: 3; LEFT: 4px; WIDTH: 47px; POSITION: absolute; TOP: 2px; HEIGHT: 47px
}
.hexagon {
	Z-INDEX: 2; LEFT: 0px; WIDTH: 64px; POSITION: absolute; TOP: 0px; HEIGHT: 59px
}
.foto {
	Z-INDEX: 1; LEFT: 1px; WIDTH: 53px; POSITION: absolute; TOP: 1px; HEIGHT: 48px
}
IMG {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
#menu {
	FONT-SIZE: 11px; FONT-FAMILY: arial, helvetica, sans-serif
}
#menu UL {
	LIST-STYLE-TYPE: none
}
#menu LI A {
	PADDING-RIGHT: 20px; DISPLAY: block; PADDING-LEFT: 0px; FONT-WEIGHT: bold; PADDING-BOTTOM: 3px; MARGIN: 0px; PADDING-TOP: 3px
}
#menu UL LI.branch {
	PADDING-RIGHT: 20px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
#menu UL LI.branch A {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#menu UL LI.branch UL LI A {
	PADDING-RIGHT: 20px; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
.buttondelsty {
	BORDER-RIGHT: #cc0000 2px solid; BORDER-TOP: #cc0000 2px solid; FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND: url(/images/layout/bt_delfile.gif) no-repeat 4px 0px; BORDER-LEFT: #cc0000 2px solid; WIDTH: 25px; CURSOR: hand; COLOR: #000; LINE-HEIGHT: 11px; MARGIN-RIGHT: 10px; BORDER-BOTTOM: #cc0000 2px solid; FONT-FAMILY: "verdana","arial","helvetica",sans-serif; HEIGHT: 19px
}
TABLE.home {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; WIDTH: 756px; BORDER-BOTTOM: medium none; BORDER-COLLAPSE: collapse
}

#footer{position:absolute;width:100%;height:35px;clear:both;text-align:center;padding:0 50px 0 50px;top:100%;margin-top:-35px;font-family:verdana,arial,helvetica,sans-serif;font-size:11px;font-weight:normal;color:#333;line-height:1.4em}
#footer div.hrblue{width:100%;color:#06c;height:2px;margin:0px;background:#06c;clip:rect(0px auto 2px 0px);overflow:hidden}
#footer p{margin:3px 0 0 0;padding:0}
