
#ht1,#ht2,#ht3,#ht4,#ht5,#ht6,#ht7,#ht8,#ht9,#ht10,#ht11,#ht12,#ht13,#ht14,#ht15,#ht16,#ht17,#ht18,#ht19 {
	position: absolute;
	z-index: 100;
	top: 0px;
	left: 10px;
	visibility: visible;
}

.hyperText {
	color: #333333;
	font: 11px/12px "Tahoma",Geneva,Arial,Helvetica,sans-serif;
	background-color: #ffffff;
	padding: 5px;
	border: solid 2px #006;
	width: 250px;
	layer-background-color: #cccccc;
}