body{margin:0;padding:0 60px 40px 60px;font-family:verdana,arial,helvetica,sans-serif;font-size:11px;color:#666;line-height:1.8em;}

label, input, textarea {
	display: block;
	margin-bottom: 10px;
	margin-right: 5px;
	float:left;
}

label {
	padding-top: 3px;
	float: left;
	width: 115px;
	text-align:right;
}

form {
	font-family: "tahoma", "verdana", "arial", "helvetica", sans-serif;
	font-size: 11px;
	font-weight: normal;
	color:#666;
	margin:0;
}

br {
	clear: left;
}

.txt {
	font-family: "tahoma", "verdana", "arial", "helvetica", sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
}

.txt2 {
	font-family: "tahoma", "verdana", "arial", "helvetica", sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #960f00;
}

.txtMin {
	font-size: 9px;
}

.txtMinBold {
	font-size: 9px;
	font-weight: bold;
}

.txtClear {
	font-family: "tahoma", "verdana", "arial", "helvetica", sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	display: none;
}

.txtBlackBold {
	font-weight: bold;
	color: #000000;
}

.txtGray {
	color: #666666;
}

.txtGrayBold {
	font-weight: bold;
	color: #666666;
}

.txtRed {
	color: #990000;
}

.txtBlackBold12 {
	font-size: 12px;
	font-weight: bold;
	color: #000000;
}

.txtGrayBold12 {
	font-size: 12px;
	font-weight: bold;
	color: #666666;
}

.txtTextBox {
	font-family: "tahoma", "verdana", "arial", "helvetica", sans-serif;
	font-size: 11px;
	font-weight: normal;
	background-color:#ffffff;
	width:120px;
	height:18px;
	border: solid 1px #a9a9a9;
	padding-left: 5px;
	padding-right: 5px;
}

.txtTextBoxPR {
	font-family: "tahoma", "verdana", "arial", "helvetica", sans-serif;
	font-size: 11px;
	font-weight: normal;
	background-color:#ffffff;
	width:250px;
	height:18px;
	border: solid 1px #a9a9a9;
	padding-left: 5px;
	padding-right: 5px;
}

.txtTextArea {
	font-family: "tahoma", "verdana", "arial", "helvetica", sans-serif;
	font-size: 11px;
	font-weight: normal;
	background-color:#ffffff;
	width:250px;
	height:100px;
	border: solid 1px #a9a9a9;
	overflow:auto;
	padding: 5px;
}

.txtHyperText {
	color: #000000;
	font: 10px "arial",helvetica,sans-serif;
	background-color: #f8f8f8;
	border: solid 1px #000000;
	width: 250px;
	layer-background-color: #f8f8f8;
	display: block;
}

#menu {
	width: 748px;
	position: absolute;
	float: left;
	padding: 120px 0 0 10px;
	text-align: center;
}

ul {
	margin-left: 0;
	padding-left: 0;
	list-style: none;
}

ul li {
	padding: 2px 0 5px 0;
	background: url(../images/img4.gif) repeat-x;
	display: inline;
}

ul li.first {
	background: none;
}

ul li a {
	display: block;
	float: left;
	padding: 0 9px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #fff;
}

ul li.first a {
	border: none;
}

a {
	padding: 0 2px 1px 3px;
	text-decoration: none;
}

ul li.lista2 {
	display: block;
	float: left;
}

#userentry, #passentry {
	font-family: "tahoma", "verdana", "arial", "helvetica", sans-serif;
	font-size: 11px;
	font-weight: normal;
	background-color:#fff;
	width:120px;
	height:18px;
	border: solid 1px #a9a;
	padding-left: 5px;
	padding-right: 5px;
}

#userentry {
	margin-bottom: 10px;
}

#passentry {
	margin-bottom: 15px;
}

#logo {
	margin-bottom:15px;
	width:600px;
}

#adm {
	width:100%;
	margin-bottom:15px;
	float:left;
	padding:6px 0;
}

#opcoes{
	width:588px;
	/*float:left;*/
	padding:6px;
	text-align:left;
}

#todos{
	width:600px;
	}
#comentario{
	width:596px;
	float:left;
	padding:2px;
	margin-bottom:6px;
	text-align:left;
	background-color:#f1f1f1;
}

#result_coment{
	width:570px;
	padding:9px 6px 9px 24px;
	float:left;
	text-align:left;
	font-family:"tahoma", "verdana", "arial", "helvetica", sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#000;
}

#header {
	font-family:"tahoma", "verdana", "arial", "helvetica", sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#000;
	border-bottom:solid 1px #a9a;
	width:600px;
	height:13px;
	margin-bottom:15px;
	padding-left:120px;
}

#header ul{
	padding:0px;
	margin:0px;
}

#header ul li {
	display:inline;
}

#title{
	float:left;
}

#icsair{
	float:right;
	width:32px;
}

#line {
	width: 600px;
	height:1px;
	margin-bottom: 15px;
	background-color: #666;
}

#footer {
	border-top:solid 1px #a9a;
	width:600px;
	padding-left:120px;
	padding-top:15px;
	padding-bottom:15px;
}


#resetbt {
	margin-left: 7px;
}

#submitbt {
	margin-left: 120px;
}

#msgerror {
	font-family: "tahoma", "verdana", "arial", "helvetica", sans-serif;
	font-size: 11px;
	color: #990000;
	width: 600px;
}

#body {
	width:600px;
}

.content {
	padding-left:120px;
	margin-bottom:5px;
	font-family:"tahoma", "verdana", "arial", "helvetica", sans-serif;
	font-size:11px;
	color:#666;
	width:600px;
}

#commPrt {
	background-color:#999999;
	color:#FFFFFF;
	padding:2px;
	width:80px;
	float:right;
	text-align:center;
}

#box {
	border:1px solid #000000;
	padding:5px;
	width:448px;
	margin-bottom:10px;
}

#boxComm, #comments1, #comments2, #comments3, #comments4, #comments5 {
	width:448px;
}

#spacer {
	margin-top:7px;
	margin-bottom:7px;
}

#comments0 ul {
	padding:0px;
	margin:0px;
	list-style:none;
	line-height:2em;
}

#comments1 ul {
	padding:0px;
	margin:0px;
	list-style:none;
	line-height:2em;
}

#trContData0, #trContData1, #trContData2, #trContData3, #trContData4, #trContData5, #comments0, #comments1{
	display:none;
}

a:visited {
	color:#666;
}

a.selected-inactive {
	color:#666;
}

#header{font-family:verdana,arial,helvetica,sans-serif;font-size:11px;border-bottom:solid 1px #999;width:100%;height:13px;margin:20px 0 20px 0;padding:0;}
#header ul{width:100%;padding:0;margin:0;}
#header ul li{display:inline;padding:0;margin:0;}
#header ul li a{font-family:verdana,arial,helvetica,sans-serif;font-size:11px;color:#00f;margin:0 2px 0 0;padding:0;}
#header ul li a:hover{text-decoration:underline}
#header ul li img{float:left;margin-top:3px;}
#title{float:left;font-weight:bold;color:#000;}
#icsair{width:52px;float:right;padding-right:20px;font-size:10px}
#anonym{float:left;margin:0 2px 0 -3px;}
img{border:none}