body{margin:0;padding:0;font-family:verdana,arial,helvetica,sans-serif;font-size:11px;line-height:1.8em;}
h2{width:300px;font-size:12px;font-family:verdana,arial,sans-serif;color:#000;text-align:left;}
table{border:none;border-collapse:collapse;}
p.label{text-align:left;font-weight:bold;padding:0;margin:0 0 5px 0;}
p.label span{font-weight:normal;}
a{font-weight:bold;text-decoration:none;}
a:hover{text-decoration:underline;}
a:visited{color:#00f;}
img{border:none;}
form{border-bottom:1px solid #999;}
.textbox{font-size:11px;width:345px;height:16px;border:1px solid #999;}
.textarea{font-size:11px;width:100%;height:200px;border:1px solid #999;font-family:verdana,arial,helvetica,sans-serif;}
.combobox{font-size:11px;width:305px;height:16px;border:1px solid #999;margin-bottom:-10px;height:expression('22px')}
.formbutton{border:1px ridge #999;background-color:#ddd;text-align:center;width:148px;height:20px;font-family:verdana,arial,helvetica,sans-serif;font-weight:normal;color:#000;font-size:11px;margin-right:8px;}
.threadlink{font-weight:bold;text-decoration:none;}
.threadlink:hover{text-decoration:underline;}
.nome,.title,.title2{color:#000;font-weight:bold;}
.title{float:left;width:270px;}
.title2{float:left;width:230px;}
.topico{background-color:#fff;margin-top:20px;margin-bottom:0;width:100%;}
.linha,.linha2{background-color:#fff;}
.linha2{border-bottom:1px solid #f1f1f1;}
.bgtopico{background-color:#f1f1f1;width:100%;padding-right:22px;}
.bglinha{background-color:#fff;}
.icostatus{float:left;margin:3px 5px 0 0;}
.message{padding:10px 10px 10px 10px;border:1px dashed #ccc;}

.messageinline0,.messageinline{display:block;width:100%;margin-bottom:10px;padding:5px 0 5px 20px;background-color:#fff;border:1px dashed #ccc;}

.txtBlackBold{font-weight:bold;color:#000;}
.txt{font-family:verdana,arial,helvetica,sans-serif;font-size:11px;font-weight:normal;color:#000;}
#global{width:90%;margin-left:auto;margin-right:auto}
#escrevelinklayer{margin:60px 0 20px 15px;}
#escrevelinklayer a{color:#666;}
#threadslayer{width:100%}
#formlayer{width:100%;margin-top:40px;margin-bottom:40px;border-top:1px solid #999;padding-top:20px;}
#header{border-bottom:solid 1px #999;width:100%;height:13px;margin:20px 0 20px 0;padding:0 0 5px 0;}
#header ul{width:100%;padding:0px;margin:0px;}
#header ul li{display:inline;}
#title{float:left;font-weight:bold;color:#000;}
#icsair{width:32px;float:right;padding-right:20px;}
#anonym{float:left;margin:4px 2px 0 -3px;margin-top:expression('0px')}
ul{list-style-type:none;}

.comment{color:#c00;}
.nocomment{color:#666;}

.data {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #fff; FONT-FAMILY: "verdana","arial","helvetica",sans-serif
}

.buttonsty {
	BORDER-RIGHT: #06c 2px solid; BORDER-TOP: #06c 2px solid; FONT-WEIGHT: bold; FONT-SIZE: 10px; BORDER-LEFT: #06c 2px solid; WIDTH: 150px; CURSOR: hand; COLOR: #000; LINE-HEIGHT: 11px; BORDER-BOTTOM: #06c 2px solid; FONT-FAMILY: "verdana","arial","helvetica",sans-serif; HEIGHT: 19px; BACKGROUND-COLOR: #f1f1f1
}

#footer{width:100%;height:35px;clear:both;text-align:center;font-family:verdana,arial,helvetica,sans-serif;font-size:11px;font-weight:normal;color:#333;line-height:1.4em}
#footer div.hrblue{width:100%;color:#06c;height:2px;margin:0px;background:#06c;clip:rect(0px auto 2px 0px);overflow:hidden}
#footer p{margin:3px 0 0 0;padding:0}