body{margin:0px;padding:0px;background-color:#fff;scrollbar-face-color:#fff;scrollbar-base-color:#fff;scrollbar-shadow-color:#fff;scrollbar-highlight-color:#fff;scrollbar-3dlight-color:#fff;scrollbar-darkshadow-color:#999;scrollbar-track-color:#ccc;scrollbar-arrow-color:#000;overflow-x:hidden;overflow-y:scroll;text-align:center;font-family:verdana,arial,helvetica,sans-serif;font-size:10px;color:#666}

#header{width:100%;padding:2px 10px 3px 10px;background-color:#f00;font-family:verdana,arial,helvetica,sans-serif;font-weight:bold;color:#fff;}
#header span{float:left;font-size:20px;}
#header span.data{float:right;font-size:11px;margin-top:6px;}
#global{width:756px;text-align:left;padding-bottom:40px;}
#sectionLinks{text-align:right;margin-top:10px;padding-bottom:10px}
#sectionLinks a{display:block;padding:3px 3px 3px 10px;font-size:10px;}
#sectionLinks a:hover{color:#009;text-decoration:underline;}
#leftcol{float:left;width:124px}
#cabec{width:100%;height:19px;margin-top:10px;text-algin:left;}
#user,#currentpage{float:left;color:#000;font-size:11px;}
#user span,#currentpage span{width:120px;font-weight:bold;margin-right:10px;text-align:right;}
#currentpage{clear:both;margin:10px 0px 20px 0px;}
#topcontrol{float:right;}
#pagecontrol{width:420px;padding:60px 0px 0px 100px;text-align:left;}
#header2{position:absolute;left:0px;top:0px;width:100%;padding:2px 10px 2px 10px;background-color:#f00;font-family:arial,helvetica,sans-serif;font-weight:bold;color:#fff;}
#header2 span{float:left;font-size:14px;}
#header2 span.data{float:right;font-family:arial,helvetica,sans-serif;font-size:11px;margin-top:1px;}
#inputTable{border:none;border-collapse:collapse;width:100%;height:100%;}
#inputTable td{padding:0px 10px 0px 10px;color:#000;font-family:tahoma,arial,helvetica,sans-serif;font-size:11px;vertical-align:top;}
#inputTable td.formTD{height:1%;}

table.login{border:none;border-collapse:collapse;margin:60px 0px 0px 150px;width:377px}
table.login td{font-family:verdana,arial,helvetica,sans-serif;font-size:11px;padding:0px 5px 3px 0px;color:#333;line-height:150%;}
table.login td span{font-weight:bold;}
table.home{border:none;border-collapse:collapse;width:90%;margin:auto;}
a{font-family:verdana,arial,helvetica,sans-serif;font-size:11px;color:#009;text-decoration:none;}
a span{font-weight:bold;}
a:hover{color:#000;}
a.especial{display:block;color:#000;font-weight:bold;margin-bottom:8px;}
img{border:none;}
hr{color:#c00;height:1px;}
h1,h2,h3{font-family:tahoma,arial,helvetica,sans-serif;font-size:11px;display:inline;vertical-align:top;padding-top:2px;white-space:nowrap;}
h1,h3{width:60px;text-align:right;margin-right:5px;}
h3{width:80px;}
h2{width:1px;padding-bottom:3px;margin-right:30px;font-weight:normal;}
p{display:inline;margin-right:5px;}

.textbold{font-family:"tahoma","arial","helvetica",sans-serif;font-size:11px;font-weight:bold;color:#000}
.textblk{font-family:"Microsoft Sans Serif","arial","helvetica",sans-serif;font-size:11px;font-weight:normal;color:#000}
.data{font-family:"Microsoft Sans Serif","arial","helvetica",sans-serif;font-size:8pt;font-weight:bold;color:#fff}
.legenda{font-family:"Microsoft Sans Serif","arial","helvetica",sans-serif;font-size:10px;font-weight:normal;color:#c00}
.inputline{width:100%;display:block;margin-top:5px;}
.inputgroup{float:left;margin-bottom:10px;}
.clearboth{clear:both;margin:0px;padding:0px}
.alert{width:300px;font-family:verdana,arial,helvetica,sans-serif;font-weight:bold;color:#c00;font-size:12px;white-space:nowrap;}
.alert span{float:left;padding-right:10px;}
.textfield{border:1px solid #666;width:80px;height:19px;}
.textboxbase,.textbox,.textbox2,.textbox3,.textbox4,.textbox5,.textbox6,.textbox7,.textbox8{font-family:arial,helvetica,sans-serif;font-size:11px;border:1px solid #000;color:#333;}
.textbox,.textbox2,.textbox3,.textbox4,.textbox5,.textbox6,.textbox7,.textbox8{height:19px;}
.textbox{width:160px;text-align:right;}
.textbox2{width:78px;}
.textbox3{width:424px;}
.textbox4{width:64px;text-align:right;}
.textbox5{width:32px;text-align:right;}
.textbox6{width:255px;}
.textbox7{width:410px;}
.textbox8{width:180px;margin-right:5px;padding-left:5px;}
.butstyle,.butstyle2,.butstyle2b,.butstyle3,.butstyle6{border:1px ridge #999;background-color:#ddd;text-align:center;width:80px;height:20px;font-family:verdana,arial,helvetica,sans-serif;font-weight:bold;color:#000;font-size:11px;}
.butstyle2{width:120px;}
.butstyle2b{width:160px;margin-top:10px;}
.butstyle3{width:200px;display:block;margin-bottom:5px;}
.butstyle6{width:150px;margin:0px 10px 0px 10px;}
.headerimg{margin-left:2px;margin-right:2px;}
.title,.title2,.inputtitle,.textblk,.textblk2,.textblk3,.textbold,.dataarquivos,.item{color:#000;font-family:verdana,arial,helvetica,sans-serif;font-size:11px;font-weight:normal;line-height:1.4em;}
.title,.title2,.textbold{font-weight:bold;text-align:center;}
.title,.title2{height:25px;}
.textblk2,.textblk3{padding-left:25px;padding-top:0px;padding-bottom:5px;}
.textblk2,.title2{width:95%;}
.title2{text-align:center;}
.textblk2 span,.textblk3 span{font-weight:bold;}
.item,.itembanner{text-align:center}
.itembanner{width:95%;}
.inputtitle{width:100%;font-weight:bold;margin:25px 0px 0px 0px;}
.dataarquivos{font-size:10px;color:#c00;padding-left:10px;padding-right:10px;text-align:center;}
.tarjaTitulo,.fioTitulo{background-color:#000;font-family:verdana,arial,helvetica,sans-serif;font-size:11px;font-weight:bold;color:#fff;height:20px;text-align:center;}
.tarjaItens,.fioItens{background-color:#ddd;font-family:verdana,arial,helvetica,sans-serif;font-size:11px;font-weight:bold;color:#000;height:20px;}
.fioTitulo,.fioItens{height:2px;}
.formbuttons{width:100%;padding:20px 0px 40px 0px;text-align:center;}
.inputformbuttons{width:100%;padding:10px 0px 20px 0px;text-align:center;}
.label{color:#000;font-family:verdana,arial,helvetica,sans-serif;font-size:11px;font-weight:bold;padding-right:5px;width:1%;white-space:nowrap;text-align:right;}

.buttonsty{width:150px;height:19px;background-color:#f1f1f1;border:2px solid #0066cc;font-family:"verdana","arial","helvetica",sans-serif;font-size:10px;font-weight:bold;color:#000000;cursor:hand;line-height:11px}
.buttonsty2{width:78px;height:19px;background-color:#f1f1f1;border:2px solid #666666;font-family:"verdana","arial","helvetica",sans-serif;font-size:11px;font-weight:normal;color:#000000;cursor:hand;line-height:11px}
.buttonsty3{width:174px;height:19px;background-color:#f1f1f1;border:2px solid #666666;font-family:"verdana","arial","helvetica",sans-serif;font-size:10px;font-weight:bold;color:#0066cc;cursor:hand;line-height:11px}
.buttonsty4{width:150px;height:19px;background-color:#f1f1f1;font-family:"verdana","arial","helvetica",sans-serif;font-size:11px;font-weight:normal;color:#000000;cursor:hand;line-height:11px}

.buttondelsty{width:25px;height:19px;background-color:#f1f1f1;border:2px solid #cc0000;font-family:"verdana","arial","helvetica",sans-serif;font-size:10px;font-weight:bold;color:#000000;cursor:hand;line-height:11px;background:url(/images/layout/bt_delfile.gif) no-repeat 4px 0;margin-right:10px}

.menuitem{width:180px;text-align:right;font-size:10px;margin-left:0;padding-bottom:6px;border-bottom:1px solid #ccc}
.menusubitem{width:220px;text-align:left;font-size:10px;margin-left:160px;padding-bottom:6px;border-bottom:1px solid #ccc}

#footer{position:absolute;width:100%;height:35px;clear:both;text-align:center;padding:0 50px 0 50px;left:0;top:100%;margin-top:-35px;font-family:verdana,arial,helvetica,sans-serif;font-size:11px;font-weight:normal;color:#333;line-height:1.4em}
#footer div.hrblue{width:100%;color:#06c;height:2px;margin:0px;background:#06c;clip:rect(0px auto 2px 0px);overflow:hidden}
#footer p{margin:3px 0 0 0;padding:0}

