table.home{border:none;border-collapse:collapse;width:990px;}
title,.title2,.inputtitle,.textblk,.textblk2,.textblk3,.textbold,.dataarquivos,.item{color:#000;font-family:verdana,arial,helvetica,sans-serif;font-size:11px;font-weight:normal;line-height:1.4em;}
.title,.title2,.textbold{font-weight:bold;text-align:center;}
.title,.title2{height:25px;}