html {filter:expression(document.execCommand("BackgroundImageCache", false, true));}
.productDemo .boxColor, #header .innerHeader, .boxR1, .boxR1 .boxR12 .boxR13 .boxR14, .boxR2, #content .boxR2 .boxR22 .boxR23 .boxR24, .boxR4 .boxR42 .boxR43 .boxR44  .anotherProducts, .anotherProducts li, .anotherProducts .crossInfo, .anotherProducts .seeMore, .productDetails .tabs, .buyTogether, .productSkins, .fullBanner , .contentBanner, .productDemo .boxColor  ul, .productOffers, .moreWarrantyProducts .PriceWarranty , .moreWarrantyProducts .PriceWarranty .label, .moreWarrantyProducts .boxFinalPriceWarranty, .allStoreMenu ul, .boxScrollCarousel , .boxScrollCarousel ul , .boxScrollCarousel ul li , .playerInternetTv, .productInternetTv , .boxHilightProducts, .boxHilightProducts ul , .scrollBox , .scrollBox .backButton, .scrollBox .nextButton , .scrollBox .scrollBar, .internetTv , .list1 li.col1, .list1 li.col2, .list1 li.col3, .moreWarrantyProducts .warrantyOptions, .contentPopup .box6, .tabsLightbox .tabs, #footer .list4  .validPrice, .lightbox .box6, .checkList li, .checkList {zoom: 1;}

/* PADROES DE TITULOS */
.title1 { zoom:1; }

/* Outros Produtos */
.otherProducts .productList li {zoom:0;}
.otherProducts li { zoom:1; display:inline; }


/* Componente Demonstração do Produto */
.productDemo .boxColor { margin-bottom: -24px;} 


/* menu  Pricipal */
.mainMenu li.hilightDepartaments .boxHiDp  {display: block; width: auto; zoom: 1; text-align: center; white-space: nowrap;}
.mainMenu li.hilightDepartaments .boxHiDp li {display: inline;}
.mainMenu li.hilightDepartaments .boxHiDp a {margin:0 0.9%;}
.mainMenu li {display:inline;}
.mainMenu li.hilightDepartaments {zoom:1;  _float: left;}
.mainMenu {background: url(../img/mainMenuhiDpBg.gif) repeat-x left center; text-align:center;}
.mainMenu li.allDepartaments, .mainMenu li.allDepartamentsJs {text-align: left;}
#page .boxHiDp th a{margin-right: -1px;}

/* Componente Buy Together */
.buyTogether li { zoom:1; }
.buyTogether .crossInfo { zoom:1; }

/* Horizontal Carousel */
.boxScrollCarousel ul { _width: 99%; }

/* Hilight Products */
.boxScrollBar {  _margin: 0 40px 0 0; }

/* Componente BannersList */
.buttons {zoom:1; }
.button1 {  zoom:1;  padding: 0 0 0 5px;; margin:0;  }
.button1 strong, .button1 input {zoom:1; margin-right: 0; display:inline; padding: 0;}

/* Componente Servicos */
.serviceList .list4 li {zoom:1; _height:44px; overflow:visible;}
.serviceList .list4 span {zoom:1;}
.serviceList .list4 img {zoom:1;}
.serviceList .list4 strong {zoom:1; font-size: 1.6em;}


/* Lista 1 */
.list1 {zoom:1;}
.list1 li.col1, .list1 li.col2, .list1 li.col3{vertical-align:top; display:inline; float:none;}
.list3 {zoom:1; }
.list3 .col1, .list3 .col2, .list3 .col3, .list3 .col4 { width:24.95%; zoom:1; vertical-align:top; display:inline; float:none;}


/* Componente BannersList */
.bannerList .button1 { padding:5px 0px 0px 5px; }
.bannerList li a span.button1 {display:inline;}
/*.bannerList li div.boxR1 {margin-top:-10px;}
.bannerList li.first div.box;R1 {margin-bottom:20px;}*/

.productDetails .boxContentTabs { zoom:1; }
.productDetails .boxContentTabs .tabsLTCorner { zoom:1; }
.productDetails .boxContentTabs .tabsRTCorner { zoom:1; }
.productDetails .boxContentTabs .tabsLBCorner { zoom:1; }
.productDetails .boxContentTabs .tabsRBCorner { zoom:1; }
.productDetails .hilightNews {_height:213px;}

/* Componente Ofertas Especiais */
.boxSpecialOffers { _overflow: hidden; }
.boxSpecialOffers2 { _position: relative; }
.specialOffers { overflow: hidden; }
#col1 .specialOffers {zoom:1; }

/* Componente Home Banner */
.homeBanner ul {width:110px;}
.homeBanner .homerBannerList ul li a span.pauseButton, .homeBanner .homerBannerList ul li a span.playButton {width: 8px; height: 14px; vertical-align: top; padding: 0 0 0 0; zoom:1;}
.homeBanner .homerBannerList ul li a span.pauseButton strong, .homeBanner .homerBannerList ul li a span.playButton strong{zoom:1;}
/* Componente Hilight News */
.hilightNews {zoom:1; overflow:visible; _height: 210px;}
.hilightNews .price .condition {zoom:1;}
.hilightNews .price .parcel {padding-bottom:5px;}
.hilightNews .product a:hover .parcel .type2 {text-decoration:underline; color:#ff6600;}


/* Horizontal Carousel */
.horizontalCarousel,
.horizontalCarousel ul { zoom: 1; }


/* Search Menu */
.searchMenu {zoom:1;}
.searchMenu .tabsLTCorner {zoom:1;}
.searchMenu .tabsRTCorner {zoom:1;}


/* Home Banner */
.homeBanner .homerBannerList { zoom:1; }
.homeBanner {_width: 98.9%;}


/* Store Menu */
.storeMenu { zoom: 1; }


.boxStoreMenu { padding: 5px 0 0 0; background-position: right 0; _background-position: right 1px; }

.fullBannerR1, .fullBannerR2, .fullBannerR3, .fullBannerR4, .contentBannerR1, .contentBannerR2, .contentBannerR3, .contentBannerR4, .lightbox .form1 ul li, .lightbox .boxLight1 , .lightbox  .boxLight12 {zoom: 1;}
.fullBanner img, .fullBanner embed, .fullBanner object, .homeBanner a img {_font-size: 1.01em;}

.search fieldset {padding: 0 0 0 18em;}
.search select { padding: 0; width:13.3em; }

#header #boxStoreMenu .personalSponsors ul {zoom:1; }
#header #boxStoreMenu .personalSponsors h3 {_display:inline; overflow:hidden; line-height: 40px;}
.mainMenu .personalSponsors { zoom:1;}

/* TopTen */
.topTen {zoom:1;}
.topTen li {zoom:1;}
.topTen .product{_height:120px;}


#col1 .specialOffers {zoom:1; }
#col1 .specialOffers li ul { overflow: hidden; zoom:1; }


/* moreWarranty */
.moreWarranty { zoom: 1; }
.moreWarranty .bannerMoreWarranty { _margin: 0 0 0 -14em; }
.moreWarrantyProducts li { zoom:1; }
.moreWarrantyProducts .PriceWarranty input { width: 10.5em; #margin: .4em 0 0 0; }
.moreWarrantyProducts .PriceWarranty .finalPriceWarranty .nextStep { #top: 0; }

.moreWarrantyProducts .list2 li .product  .warrantyOptions  li .information{ margin: 0 5px 10px 25px; }


/* Big Box Color */
.bigBoxColor ul { zoom: 1; }

/* Banner List */
.bannerList li  .button1 {padding:0 5px; margin-bottom: 5px;}
.bannerList li  .button1 strong { display: inline; padding: 0 15px 0 10px;}

.productOffers .list1 .seeMore li, .productOffers .list3 .seeMore li { _display:inline;}

.lightbox form  labe, .lightbox form  .textType30, .lightbox form .textareaType30, .radioList {float: none; display:block; vertical-align:top;}
.lightbox button,.lightbox button * {width: 0; overflow: visible;}

/* Navegacao do Usuario */
.userNavigation  .buyPhone .phone, .userNavigation  .buyPhone {_width: 147px; overflow:visible;}
.userNavigation  .buyPhone .phone li, .userNavigation .callCenter  .phone li {overflow:visible; }
.userNavigation .callCenter  .phone, .userNavigation .callCenter   {_width: 172px; }
.userNavigation .buyPhone .phone ,.userNavigation .callCenter .phone {overflow:visible;}
.userNavigation li.over {position: relative;}

/* Navegacao do Usuario CarrinhoTopo */
.userNavigationCart  .buyPhone .phone, .userNavigationCart  .buyPhone {_width: 112px; overflow:visible;}
.userNavigationCart  .buyPhone .phone li, .userNavigationCart .callCenter  .phone li {overflow:visible; }
.userNavigationCart .callCenter  .phone, .userNavigationCart .callCenter   {_width: 162px; }
.userNavigationCart .buyPhone .phone ,.userNavigationCart .callCenter .phone {overflow:visible;}
.userNavigationCart li.over {position: relative;}

/*pagina de produto */
.productMedia #imgContainer img {_width:expression(document.body.clientWidth < 850? "150px" : document.body.clientWidth > 1000? "210px": "auto" ); }


#boxStoreMenu {_padding-right: 13.35em;}
.boxStoreMenu1 {_margin-right: -13.35em;}

#listSlideShow li {font-size:100.1%;}

/* padrao de formulario */
.form2 ul li {zoom:1; float: left; clear: left; }

#boxSlideShow { _height: 31.2em;}

div.area14 .monthlyInstallments, div.area14 {zoom:1;}

.storeBanners ul  li a:hover span.informationBanner { filter:alpha(Opacity=70); }

#wrapBoxSlideShow { overflow-x: hidden; }

.mainLightbox { _width:100%; _margin-left:-20px; }
.lightbox { _margin-left:20px; }