
/* {margin:0; padding:0; }*/
img, ul, li, ol, a, fieldset {border:none;}

/* tipo de box*/
.box1, .box2{padding:0.5em; border:1px solid #ccc; }
.box1 {background:#fff; overflow:hidden;}
.box2 {background: #f6f6f6;}
.boxR1{background: url(../img/bgBoxR1.gif) no-repeat left top; }
.boxR1 .boxR12{background: url(../img/bgBoxR12.gif) no-repeat right top; padding-top: 7px;}
.boxR1 .boxR12 .boxR13{background: url(../img/bgBoxR14.gif) no-repeat right bottom;}
.boxR1 .boxR12 .boxR13 .boxR14{background: url(../img/bgBoxR13.gif) no-repeat left bottom; padding: 0 0px 7px 0px; overflow: hidden;} /*padding: 0 7px 7px 7px;*/
.boxR2{background: #f6f6f6 url(../img/bgBoxR2.gif) no-repeat left top;}
.boxR2 .boxR22{background: url(../img/bgBoxR22.gif) no-repeat right top; padding-top: 5px;}
.boxR2 .boxR22 .boxR23{background: url(../img/bgBoxR24.gif) no-repeat right bottom;}
.boxR2 .boxR22 .boxR23 .boxR24 {background: url(../img/bgBoxR23.gif) no-repeat left bottom; padding: 0 5px 5px 5px; overflow: hidden;}
.boxR4 {background: #f1f1f1 url(../img/bannerBgLeftTop.gif) no-repeat left top;}
.boxR4 .boxR42{background: url(../img/bannerBgRightTop.gif) no-repeat right top; padding-top: 0;}
.boxR4 .boxR42 .boxR43{background: url(../img/bannerBgRightBottom.gif) no-repeat right bottom;}
.boxR4 .boxR42 .boxR43 .boxR44 {background: url(../img/bannerBgLeftBottom.gif) no-repeat left bottom; padding: 0; overflow: hidden;}


/* TABS */
.productDetails {font-family:Verdana,arial,helvetica,sans-serif;margin-bottom: 1em; clear: both;margin-left:auto;margin-right:auto}
.productDetails .tabs {font-family:verdana,arial,helvetica,sans-serif;margin:0; padding:0; clear:both; position: relative; z-index:1; overflow: hidden; padding-bottom: 1px; position: relative; top: 1px; list-style-type:none}
.productDetails .tabs li { font-family:verdana,arial,helvetica,sans-serif;background: url(../img/tabsLeft.gif) no-repeat left 1px; float:left; padding: 0 0 0 6px; margin-right: 1px; color:#828282; font-family: arial, helvetica, sans-serif; width:109px; cursor:hand}
.productDetails .tabs li a {font-family:verdana,arial,helvetica,sans-serif;cursor: pointer; text-decoration:none; background: url(../img/tabsRight.gif) no-repeat scroll right 1px; padding: 5px 15px 5px 5px; display: block; font-weight:bold; }
.productDetails .tabs li a:hover {font-family:verdana,arial,helvetica,sans-serif;text-decoration:none;}
.productDetails .tabs li.selected {font-family:verdana,arial,helvetica,sans-serif;position: relative; top: 1px; background: url(../img/tabsLeftSelectedTransparent.gif) no-repeat left top #dedede;}
.productDetails .tabs li.selected a {font-family:verdana,arial,helvetica,sans-serif;color:#000000; background: url(../img/tabsRightSelectedTransparent.gif) no-repeat right top #dedede; padding: 5px 15px 5px 5px; font-weight:bold; cursor: default; }
.productDetails .tabs li.selected a:hover { font-family:verdana,arial,helvetica,sans-serif;text-decoration: none; }
.productDetails .boxR1 { margin-top: -6px; background:  url(../img/bgBoxTabsR1.gif) no-repeat scroll right top;}
.productDetails .boxR12 {background:url(../img/bgBoxTabsR12.gif) no-repeat scroll right top;}
.productDetails .activeTabs {padding:1em 0em;}/*padding:1em 2em;*/
/*.productDetails .activeTabs ul.contTabs li {margin: 0 0 0em; font-size: 11px; font-family: arial,helvetica,sans-serif; color: #333;} /*margin: 0 0 0em;*/
/*.productDetails .activeTabs ul.contTabs li table tr td ul li { margin-bottom: 5px; list-style:disc; padding: 0px; font-size: 1em;}*/