*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #fff;
}
#global{
	width: 100%;
	height: auto;
	margin: auto;
	background-color: #fff;
}
#top{
	position:fixed; 
	top:0px; 
	margin:auto; 
	z-index:100000; 
	width:100%;
	background-color: #fff;
}
#header{
	width: 100%;
	height:70px;
}
#header img{
	display: block;
	text-align: center;
}
#menu{
	width: 100%;
	height: 36px;
	background-color: #1F67B1;
}
#main{
	margin-top: 106px;
}
.video-responsive{
	overflow:hidden;
	padding-bottom:56.25%;
	position:relative;
	height:0;
}
.video-responsive iframe{
	left:0;
	top:10px;
	height:100%;
	width:100%;
	position:absolute;

}