body{margin:0px;background-color:#fff;scrollbar-face-color:#fff;scrollbar-base-color:#fff;scrollbar-shadow-color:#fff;scrollbar-highlight-color:#fff;scrollbar-3dlight-color:#fff;scrollbar-darkshadow-color:#999;scrollbar-track-color:#ccc;scrollbar-arrow-color:#000;overflow-x:hidden;overflow-y:scroll}
.text{font-family:"verdana","arial","helvetica",sans-serif;font-size:11px;font-weight:normal;color:#333;line-height:1.4em}
.text span{font-weight:bold}
.textblk{font-family:"verdana","arial","helvetica",sans-serif;font-size:11px;font-weight:normal;color:#000;line-height:1.4em}
.textbld{font-family:"verdana","arial","helvetica",sans-serif;font-size:11px;font-weight:bold;color:#000;line-height:1.4em}
.textblkdis{font-family:"verdana","arial","helvetica",sans-serif;font-size:11px;font-weight:normal;color:#999;line-height:1.4em}
.textblddis{font-family:"verdana","arial","helvetica",sans-serif;font-size:11px;font-weight:bold;color:#999;line-height:1.4em}
.title{font-family:"verdana","arial","helvetica",sans-serif;font-size:11px;font-weight:bold;color:#000;line-height:1.4em}
.titpagina{font-family:"arial","helvetica",sans-serif;font-size:18px;font-weight:bold;color:#006}
.titulo{font-family:"arial","helvetica",sans-serif;font-size:16px;font-weight:bold;color:#c00}
.tituloblk{font-family:"arial","helvetica",sans-serif;font-size:13px;font-weight:bold;color:#000}
.subtituloblk{font-family:"verdana","arial","helvetica",sans-serif;font-size:11px;font-weight:bold;color:#000}
.subtitulo{font-family:"verdana","arial","helvetica",sans-serif;font-size:11px;font-weight:bold;color:#000}
.rodape{font-family:"verdana","arial","helvetica",sans-serif;font-size:10px;font-weight:normal;color:#666}
.rodape span{font-weight:bold}
.data{font-family:"verdana","arial","helvetica",sans-serif;font-size:11px;font-weight:bold;color:#fff}
.dataarquivos{font-family:"verdana","arial","helvetica",sans-serif;font-size:10px;font-weight:normal;color:#009}
.alert{font-family:"verdana","arial","helvetica",sans-serif;font-size:9pt;font-weight:bold;color:#c00}
.h1{font-family:"verdana","arial","helvetica",sans-serif;font-size:28px;font-weight:bold;color:#000}
.h2{font-family:"verdana","arial","helvetica",sans-serif;font-size:18px;font-weight:bold;color:#000}
.h3{font-family:"verdana","arial","helvetica",sans-serif;font-size:12px;font-weight:bold;color:#000}
.h4{font-family:"verdana","arial","helvetica",sans-serif;font-size:11px;font-weight:bold;color:#000}
.h5{font-family:"arial","helvetica",sans-serif;font-size:18px;font-weight:bold;color:#000}
.dotbg{background-image:url(/images/layout/dotbg.gif)}
a.menu:link,a.menu:active,a.menu:visited{font-family:verdana,arial,helvetica,sans-serif;font-size:10px;font-weight:bold;color:#06c;text-decoration:none}
a.menu:hover{color:#000}
a:link,a:active,a:visited{font-family:verdana,arial,helvetica,sans-serif;font-size:11px;font-weight:normal;color:#009;text-decoration:none}
a:hover{color:#000}
a.itemhome:link,a.itemhome:active,a.itemhome:visited{font-family:"tahoma","arial","helvetica",sans-serif;font-size:11px;font-weight:bold;color:#000;text-decoration:none}
.itemhomenolink{font-family:"tahoma","arial","helvetica",sans-serif;font-size:11px;font-weight:bold;color:#000;text-decoration:none}
.menustyle{font-family:verdana,arial,helvetica,sans-serif;font-size:10px;font-weight:bold;color:#06c;text-decoration:none;cursor:default}
.textbox{width:375px;height:19px;border:1px solid #003;background-color:#fff;color:#333}
.textbox2{width:78px;height:19px;border:1px solid #003;background-color:#fff;color:#333}
.textbox3{width:410px;height:19px;border:1px solid #003;background-color:#fff;color:#333}
.textbox4{width:64px;height:19px;border:1px solid #003;background-color:#fff;color:#333;text-align:right}
.textbox5{width:32px;height:19px;border:1px solid #003;background-color:#fff;color:#333;text-align:right}
.textbox6{width:255px;height:19px;border:1px solid #003;background-color:#fff;color:#333}
.textbox7{width:410px;height:19px;background-color:#fff;color:#333}
.textbox6dis{width:255px;height:19px;border:1px solid #ccc;background-color:#fff;color:#999}
.listbox{font-family:monospace,verdana,arial,helvetica,sans-serif;font-size:14px;width:255px;height:19px;background-color:#fff;color:#333}
.textareastyle{width:375px;border:1px solid #003;font-family:verdana,arial,helvetica,sans-serif;font-size:12px;scrollbar-face-color:#fff;scrollbar-base-color:#fff;scrollbar-shadow-color:#fff;scrollbar-highlight-color:#fff;scrollbar-3dlight-color:#fff;scrollbar-darkshadow-color:#999;scrollbar-track-color:#ccc;scrollbar-arrow-color:#000}
.buttonsty{width:150px;height:19px;background-color:#f1f1f1;border:2px solid #06c;font-family:"verdana","arial","helvetica",sans-serif;font-size:10px;font-weight:bold;color:#000;cursor:hand;line-height:11px}
.buttonsty2{width:78px;height:19px;background-color:#f1f1f1;border:2px solid #666666;font-family:"verdana","arial","helvetica",sans-serif;font-size:11px;font-weight:normal;color:#000;cursor:hand;line-height:11px}
.buttonsty3{width:174px;height:19px;background-color:#f1f1f1;border:2px solid #666666;font-family:"verdana","arial","helvetica",sans-serif;font-size:10px;font-weight:bold;color:#06c;cursor:hand;line-height:11px}
.buttonsty4{width:150px;height:19px;background-color:#f1f1f1;font-family:"verdana","arial","helvetica",sans-serif;font-size:11px;font-weight:normal;color:#000;cursor:hand;line-height:11px}

#posmenuLayer{position:relative;left:0px;top:0px;width:1px;height:1px;z-index:1;visibility:hidden}
#menuLayer{position:relative;left:0px;top:0px;width:199px;z-index:1;visibility:visible;overflow:visible}
.tarjaTitulo{background-color:#000;font-family:"verdana","arial","helvetica",sans-serif;font-size:9pt;font-weight:bold;color:#fff}
.tarjaItens{background-color:#ddd;font-family:"verdana","arial","helvetica",sans-serif;font-size:9pt;font-weight:bold;color:#000}

.modulo{position:absolute;width:64px;height:59px;}
.maparea{position:absolute;left:4px;top:2px;width:47px;height:47px;z-index:3;}
.hexagon{position:absolute;left:0px;top:0px;width:64px;height:59px;z-index:2}
.foto{position:absolute;left:1px;top:1px;width:53px;height:48px;z-index:1}
img{border:none}

#menu{font-family:arial, helvetica, sans-serif;font-size:11px}
#menu ul{list-style:none;}
#menu li a{font-weight:bold;display:block;margin:0px;padding:3px 20px 3px 0px;}
#menu ul li.branch{font-weight:normal;padding:3px 20px 3px 0px;}
#menu ul li.branch a{font-weight:bold;display:block;margin:0px;font-weight:bold;padding:0px;}
#menu ul li.branch ul li a{padding:3px 20px 3px 0px;}



.buttondelsty{width:25px;height:19px;background-color:#f1f1f1;border:2px solid #cc0000;font-family:"verdana","arial","helvetica",sans-serif;font-size:10px;font-weight:bold;color:#000;cursor:hand;line-height:11px;background: :url(/images/layout/bt_delfile.gif) no-repeat 4px 0;margin-right:10px}

table.home{border:none;border-collapse:collapse;width:756px;}

.textblk2{font-family:"tahoma","arial","helvetica",sans-serif;font-size:11px;font-weight:normal;color:#000;line-height:1.4em}
.textblk2 span{color:#c00}
.textbox8{width:256px;height:18px;border:1px solid #003;background-color:#fff;color:#333}
.textbox8b{width:70px;height:18px;border:1px solid #003;background-color:#fff;color:#333}
.textbox8c{width:263px;height:86px;background-color:#fff;color:#333}
.textbox8d{width:202px;height:18px;border:1px solid #003;background-color:#fff;color:#333}
.textbox8e{width:260px;height:21px;height:expresiion('18px');border:1px solid #003;background-color:#fff;color:#333}
.textbox9{width:21px;height:18px;border:1px solid #003;background-color:#fff;color:#333;margin-right:10px}
.textbox9b{width:16px;height:18px;border:1px solid #003;background-color:#fff;color:#333;margin-right:10px}
.textblk2 span{color:#c00}
.buttonsty8{width:126px;height:19px;background-color:#f1f1f1;border:2px solid #06c;font-family:"verdana","arial","helvetica",sans-serif;font-size:10px;font-weight:bold;color:#000;line-height:11px}

#policy{width:345px;height:196px;border:1px solid #ccc;padding:10px 10px 15px 15px;margin-top:10px;overflow:auto}

.erro{font-weight:bold;color:#c00}


