body{padding:0;margin:0;text-align:center;font-family:tahoma,arial,helvetica,sans-serif;font-size:11px;line-height:1.4em;background-color:#eaeaea}
#global{width:980px;padding-bottom:1px;margin-left:auto;margin-right:auto;margin-top:15px;background-color:#fff; border-style: solid; border-width: 1px; border-color: #ccc;}
#globalpadding{margin:0 12px 0 12px;padding-top:200px}

#homebanner{float:left;margin:20px 0 0 0;padding:0} /* ;border:1px solid #eaeaea */
#homebanner img{width:956px;height:279px;margin:0;padding:0}
#homeslideshow{width:956px;height:279px}
#homeslideshowtext{position:absolute;width:954px;height:239px;margin:38px 0 0 1px}
#homecarousel{visibility:hidden}
#pcarousel{display:none}
.homenews{padding:10px 0 0 0;text-align:left}
.homenews img{float:left;width:100px;height:100px;padding:1px;border:1px solid #ccc;margin:0 10px 5px 0}
.homenews h1{font-family:arial;font-size:16px;font-weight:bold;line-height:1.2em}
.readmore{margin:10px 0 0 0}

#dataDiv{float:left;width:100%;height:36px;background:#1F67B1;margin:0;color:#fff;text-align:left}
#dataDiv div{margin:10px 0 0 15px}

#logoDiv{/*background: blue*/;float:left;width: 280px;height: 200px;}
#loginDiv{/*background: pink*/;float:right; width:700px;height: 200px;margin-top:0;}
#loginDiv ul{list-style-type:none;margin:0;padding:0}
#loginDiv ul li{float:left}
#loginDiv ul li img{margin-top:2px}
#loginDiv ul li p{padding:3px 0 0 20px}
#formDiv{/*background: yellow*/;float:right;margin:155px 15px 0 0;}
#loginForm{margin:0}
#login,#senha{width:70px;height:17px;border:1px solid #666;margin:0 3px 0 0;color:#666;font-family:tahoma,arial,helvetica,sans-serif}
#login{background:#fff url(../../images/layout/login.gif) no-repeat center}
#senha{background:#fff url(../../images/layout/senha.gif) no-repeat center}

#logo{float:left;margin:20px 0 0 10px}

#rodape{height:200px;background-color:#fff;border-bottom:1px solid #999;text-align:center;margin:20px 15px 10px 15px}
#rodape ul{list-style-type:none;margin:0;padding:0;width:90%;padding-top:12px;margin-left:auto;margin-right:auto;*height:16px}
#rodape ul li{float:left;color:#666;margin:0 15px 0 15px;display:inline}
#rodape ul li img{float:left;margin-right:8px}
#rodape ul li a{color:#666}

#copyright{/*background: red;*/width:100%;color:#666;margin-bottom:10px}
#copyright a{margin:0 11px 0 11px}
#copyright ul{list-style-type:none;margin:0;padding:0;display:inline}
#copyright ul li{display:inline}
#copyright span{white-space:nowrap;margin-left:10px}

.clearboth{clear:both;margin:0;padding:0;display: none;}

a{color:#06c;text-decoration:none}
a:hover{text-decoration:underline}
img{border:none}