.jcarousel-skin .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin .jcarousel-container-horizontal {
    width: 878px;
    padding: 0 40px;
}

.jcarousel-skin .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin .jcarousel-clip-horizontal {
    width: 878px;
}

.jcarousel-skin .jcarousel-item{
    width: 279px;
}

.jcarousel-skin .jcarousel-item-horizontal{
	margin-left: 0;
    margin-right: 20px;
}

.jcarousel-skin .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 20px;
    margin-right: 0;
}

.jcarousel-skin .jcarousel-next-horizontal {
    position: absolute;
    top: 50%;
    right: 5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(../../images/layout/next-horizontal.png) no-repeat 0 0;
}

.jcarousel-skin .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
    background-image: url(../../images/layout/prev-horizontal.png);
}

.jcarousel-skin .jcarousel-next-horizontal:hover,
.jcarousel-skin .jcarousel-next-horizontal:focus {
    background-position: -32px 0;
}

.jcarousel-skin .jcarousel-next-horizontal:active {
    background-position: -64px 0;
}

.jcarousel-skin .jcarousel-next-disabled-horizontal,
.jcarousel-skin .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

.jcarousel-skin .jcarousel-prev-horizontal {
    position: absolute;
    top: 50%;
    left: 5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(../../images/layout/prev-horizontal.png) no-repeat 0 0;
}

.jcarousel-skin .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
    background-image: url(../../images/layout/next-horizontal.png);
}

.jcarousel-skin .jcarousel-prev-horizontal:hover, 
.jcarousel-skin .jcarousel-prev-horizontal:focus {
    background-position: -32px 0;
}

.jcarousel-skin .jcarousel-prev-horizontal:active {
    background-position: -64px 0;
}

.jcarousel-skin .jcarousel-prev-disabled-horizontal,
.jcarousel-skin .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}