body{margin:0px;padding:69px 0 20px 0;background-color:#999;background-image:url(/images/layout/degradee.png);background-repeat:repeat-x;text-align:center;font-family:verdana,arial,helvetica,sans-serif;font-size:11px;font-weight:normal;color:#333;line-height:1.4em}

#header{position:absolute;left:0px;top:7px;width:100%;height:70px;background-color:#fff;border-top:1px solid #999;border-bottom:1px solid #999;text-align:center;}
#headerimages{width:760px;height:70px;padding-top:2px;margin-top:0px;margin-right:auto;margin-bottom:0px;margin-left:auto;}

#global{position:relative;width:760px;height:100%;background:#fff url(/images/layout/bg.gif) repeat-y;border:1px solid #999;margin-top:0px;margin-right:auto;margin-bottom:0px;margin-left:auto;z-index:2}

#globalhome{position:relative;width:760px;height:100%;background-color:#fff;border:1px solid #999;margin-top:0px;margin-right:auto;margin-bottom:0px;margin-left:auto;padding:2px;z-index:2}

#faixaDiv{background:url(/images/layout/degradeeamarelo.png) repeat-x;width:100%;height:28px;}

#dataDiv{float:left;width:141px;height:20px;margin:6px 0px 0px 10px;color:#000;text-align:left;font-family:tahoma,arial,helvetica,sans-serif}

#loginDiv{float:right;padding:2px 5px 0px 0px;width:182px;height:23px;display:block}
#login,#senha{float:left;width:70px;height:17px;padding:0px;margin:2px 0px 0px 0px;border:1px solid #000}

#loggedDiv{position:absolute;width:360px;height:23px;left:120px;top:-5px;z-index:3;top:expression('6px')}

#bt_submit{margin:0px 1px 1px 0px}
form{margin:0px}
img{border:none;display:block}
#loginDiv ul{list-style-type:none;padding:0px;margin:0px}
#loginDiv ul li{display:inline;padding:0px;margin-right:4px;float:left}

a{font-family:tahoma,arial,helvetica,sans-serif;font-size:10px;color:#06c;text-decoration:none}
a span{font-weight:bold}
a:hover{text-decoration:underline}

div.hr{width:100%;background:#999;height:1px;margin-bottom:15px;clip:rect(0px auto 1px 0px);overflow:hidden}

.clear{clear:both;height:1px;overflow:hidden}

#leftcol{float:left;width:180px;padding:28px 0px 20px 5px}
#leftcol p{width:160px;padding:10px;text-align:left}

#midcol{float:left;width:385px;margin:5px 17px 20px 17px;text-align:left}
* html #midcol{overflow-x:hidden}
#midcol h2{width:100%;text-align:right;font-family:arial,helvetica,sans-serif;font-size:18px;color:#06c;font-weight:bold;padding:0px 0px 2px 0px;margin:5px 0px 12px 0px;border-bottom:1px solid #999;line-height:0.9em}
#midcol p{margin:0px 0px 15px 0px}
#midcol img{float:left;margin:0px 15px 5px 0px}
#midcol span{font-weight:bold}

#rightcol{float:left;width:135px;height:100%;margin:0px;text-align:left;padding:2px 10px 10px 10px;border-top:3px solid #fff}
#rightcol p{margin:0px 0px 20px 0px}

#footer,#footerhome{width:100%;height:35px;clear:both;text-align:left}
#footer p{float:left;width:200px;margin:0px;padding:0 0 0 200px}
#footerhome p{float:left;width:200px;margin:0px;padding:0 0 0 20px}
#footer div.hrblue{width:490px;color:#06c;height:2px;margin:7px 0 3px 152px;background:#06c;clip:rect(0px 490px 2px 0px);overflow:hidden}
#footerhome div.hrblue{width:720px;color:#06c;height:2px;margin:7px 20px 3px 20px;background:#06c;clip:rect(0px auto 2px 0px);overflow:hidden}

#menu{width:180px;float:left;margin:0px}
#menu ul{float:left;list-style: none;margin:0px;padding:0px;width:180px;text-align:right;border-top:1px solid #ccc;z-index:1000}
#menu ul ul{text-align:left}

ul#banners{text-align:left}

#menu a{font: normal 11px arial, helvetica, sans-serif;display: block;margin:0px;padding:5px 20px 5px 0px}
#menu ul li.branch{background:url(/images/layout/seta3.gif) no-repeat 165px 2px;padding:5px 20px 5px 0px}
#menu ul li.branch a{padding:0px}
#menu ul li.branch ul li a{padding:5px 20px 5px 0px}

#menu a{color: #000;text-decoration:none}
#menu a:hover{color: #06c;text-decoration:none}
#menu li{position: relative;font: normal 11px arial, helvetica, sans-serif;cursor:default}
#menu li:hover{color:#06c}
#menu ul li{border-bottom:1px solid #ccc}
#menu ul li ul li{border:none}
#menu ul ul{position:absolute;top:5px;width:200px;background:#fff;border:1px solid #ccc;padding:0px 0px 2px 10px}
div#menu ul ul,div#menu ul li:hover ul{left:-9999px}
div#menu ul li:hover ul{left:180px}

.navtop{float:left;width:100%;padding-bottom:12px}
.navbottom{float:right;width:95px;margin-top:-14px}
.navtop ul,.navbottom ul{float:left;width:100%;list-style-type:none;margin:0px;padding:0px}
.navtop li,.navbottom li{float:left;height:16px;margin-right:5px}

#colmeia{position:relative;width:385px}
.modulo{position:absolute;width:64px;height:59px}
.maparea{position:absolute;left:4px;top:2px;width:47px;height:47px;z-index:3}
.hexagon{position:absolute;left:0px;top:0px;width:64px;height:59px;z-index:2}
.foto{position:absolute;left:1px;top:1px;width:53px;height:48px;z-index:1}
img{border:none}

.textbox{width:304px;height:19px;border:1px solid #003;background-color:#ffffff;color:#333}
.textareastyle{width:305px;border:1px solid #003;font-family:verdana,arial,helvetica,sans-serif;font-size:12px}
.buttonsty{width:140px;height:19px;background-color:#f1f1f1;border:2px solid #06c;font-family:"verdana","arial","helvetica",sans-serif;font-size:10px;font-weight:bold;color:#000;line-height:11px}

.tituloblk{font-family:"arial","helvetica",sans-serif;font-size:12px;font-weight:bold;color:#000}
p.colaboradores{padding-top:100px}

#tablehome{border:none;border-collapse:collapse;width:1%;margin:13px 0 13px 0}
#tablehome tr{vertical-align:top}
#tablehome tr td.rborder{text-align:left;padding:0 20px 0 20px;border-right:1px solid #999}
#tablehome tr td.noborder{text-align:left;padding:0 20px 0 20px;border:none}

a.itemhome:link,a.itemhome:active,a.itemhome:visited{font-family:"tahoma","arial","helvetica",sans-serif;font-size:12px;font-weight:bold;color:#06c;text-decoration:none}
.itemhomenolink{font-family:"tahoma","arial","helvetica",sans-serif;font-size:11px;font-weight:bold;color:#000;text-decoration:none}

.text{font-family:"verdana","arial","helvetica",sans-serif;font-size:11px;font-weight:normal;color:#333;line-height:1.4em}
.text span{font-weight:bold}
.textblk{font-family:"verdana","arial","helvetica",sans-serif;font-size:11px;font-weight:normal;color:#000;line-height:1.4em}
.textblk2{font-family:"tahoma","arial","helvetica",sans-serif;font-size:11px;font-weight:normal;color:#000;line-height:1.4em}
.textbld{font-family:"verdana","arial","helvetica",sans-serif;font-size:11px;font-weight:bold;color:#000;line-height:1.4em}
.textblkdis{font-family:"verdana","arial","helvetica",sans-serif;font-size:11px;font-weight:normal;color:#999;line-height:1.4em}
.textblddis{font-family:"verdana","arial","helvetica",sans-serif;font-size:11px;font-weight:bold;color:#999;line-height:1.4em}
.title{font-family:"verdana","arial","helvetica",sans-serif;font-size:11px;font-weight:bold;color:#000;line-height:1.4em}
.titpagina{font-family:"arial","helvetica",sans-serif;font-size:18px;font-weight:bold;color:#006}
.titulo{font-family:"arial","helvetica",sans-serif;font-size:16px;font-weight:bold;color:#c00}
.tituloblk{font-family:"arial","helvetica",sans-serif;font-size:13px;font-weight:bold;color:#000}
.subtituloblk{font-family:"verdana","arial","helvetica",sans-serif;font-size:11px;font-weight:bold;color:#000}
.subtitulo{font-family:"verdana","arial","helvetica",sans-serif;font-size:11px;font-weight:bold;color:#000}
.rodape{font-family:"verdana","arial","helvetica",sans-serif;font-size:10px;font-weight:normal;color:#666}
.rodape span{font-weight:bold}
.data{font-family:"verdana","arial","helvetica",sans-serif;font-size:11px;font-weight:bold;color:#fff}
.dataarquivos{font-family:"verdana","arial","helvetica",sans-serif;font-size:10px;font-weight:normal;color:#009}
.alert{font-family:"verdana","arial","helvetica",sans-serif;font-size:9pt;font-weight:bold;color:#c00}
.h1{font-family:"verdana","arial","helvetica",sans-serif;font-size:28px;font-weight:bold;color:#000}
.h2{font-family:"verdana","arial","helvetica",sans-serif;font-size:18px;font-weight:bold;color:#000}
.h3{font-family:"verdana","arial","helvetica",sans-serif;font-size:12px;font-weight:bold;color:#000}
.h4{font-family:"verdana","arial","helvetica",sans-serif;font-size:11px;font-weight:bold;color:#000}
.h5{font-family:"arial","helvetica",sans-serif;font-size:18px;font-weight:bold;color:#000}
.dotbg{background-image:url(/images/layout/dotbg.gif)}
a.menu:link,a.menu:active,a.menu:visited{font-family:verdana,arial,helvetica,sans-serif;font-size:10px;font-weight:bold;color:#06c;text-decoration:none}
a.menu:hover{color:#000}
a:link,a:active,a:visited{font-family:verdana,arial,helvetica,sans-serif;font-size:11px;font-weight:normal;color:#06c;text-decoration:none}
a:hover{color:#000}

.textbox2{width:78px;height:19px;border:1px solid #003;background-color:#fff;color:#333}
.textbox8{width:256px;height:18px;border:1px solid #003;background-color:#fff;color:#333}
.textbox8b{width:70px;height:18px;border:1px solid #003;background-color:#fff;color:#333}
.textbox8c{width:263px;height:86px;background-color:#fff;color:#333}
.textbox8d{width:202px;height:18px;border:1px solid #003;background-color:#fff;color:#333}
.textbox8e{width:260px;height:21px;border:1px solid #003;background-color:#fff;color:#333}
.textbox9{width:21px;height:18px;border:1px solid #003;background-color:#fff;color:#333;margin-right:10px}
.textbox9b{width:16px;height:18px;border:1px solid #003;background-color:#fff;color:#333;margin-right:10px}
.textblk2 span{color:#c00}
.buttonsty8{width:126px;height:19px;background-color:#f1f1f1;border:2px solid #06c;font-family:"verdana","arial","helvetica",sans-serif;font-size:10px;font-weight:bold;color:#000;line-height:11px}

#policy{width:345px;height:196px;border:1px solid #ccc;padding:10px 10px 15px 15px;margin-top:10px;overflow:auto}

.erro{font-weight:bold;color:#c00}
