body{padding:0;margin:0;text-align:center;font-family:tahoma,arial,helvetica,sans-serif;font-size:11px;line-height:1.4em;background-color:#eaeaea}
#global{width:980px;padding-bottom:1px;margin-left:auto;margin-right:auto;background:#fff url(../../images/layout/globalbg.png) repeat-x}
#globalpadding{margin:0 12px 0 12px}

#homebanner{float:left;margin:20px 0 0 0;padding:0} /* ;border:1px solid #eaeaea */
#homebanner img{width:956px;height:279px;margin:0;padding:0}
#homeslideshow{width:956px;height:279px}
#homeslideshowtext{position:absolute;width:954px;height:239px;margin:38px 0 0 1px}
#homecarousel{visibility:hidden}
#pcarousel{display:none}
.homenews{padding:10px 0 0 0;text-align:left}
.homenews img{float:left;width:100px;height:100px;padding:1px;border:1px solid #ccc;margin:0 10px 5px 0}
.homenews h1{font-family:arial;font-size:16px;font-weight:bold;line-height:1.2em}
.readmore{margin:10px 0 0 0}

#dataDiv{float:left;margin:8px 0 0 0;color:#fff;width:150px;text-align:left}

#loginDiv{float:right;width:650px;margin-top:15px}
#loginDiv ul{list-style-type:none;margin:0;padding:0}
#loginDiv ul li{float:right}
#loginDiv ul li img{margin-top:2px}
#loginDiv ul li p{padding:3px 20px 0 0}
#loginForm{margin:0}
#login,#senha{width:70px;height:17px;border:1px solid #666;margin:0 3px 0 0;color:#666;font-family:tahoma,arial,helvetica,sans-serif}
#login{background:#fff url(../../images/layout/login.gif) no-repeat center}
#senha{background:#fff url(../../images/layout/senha.gif) no-repeat center}

#logo{width:293px;height:54px;float:left}
#plogo{width:293px;height:54px;float:left;display:none}

#menu{width:640px;height:21px;float:right;font-size:12px;font-weight:bold;font-family:arial,helvetica,sans-serif;color:#333;margin-top:0}
#menuInterno{width:720px;height:21px;float:left;font-size:12px;font-weight:bold;font-family:arial,helvetica,sans-serif;color:#333;margin-top:0}
ul#topnav{
	margin: 0;
	padding: 0;
	float: left;
	width: 640px;
	list-style: none;
	position: relative;
}
ul#topnav li{
	float: left;
	margin: 0;
	padding: 0;
}
ul#topnav li a{
	padding: 9px 15px;
	display: block;
	color: #fff;
	text-decoration: none;
}
ul#topnav li:hover{background: transparent}
ul#topnav li span{
	font-weight:normal;
	float: left;
	padding: 15px 0;
	position: absolute;
	left: 0;
	top:34px;
	display: none;
	width: 640px;
	background: #2a5693;
	color: #fff;
	border-bottom:1px solid #999;
	border-left:1px solid #999;
	border-right:1px solid #999;
}
ul#topnav li:hover span{display: block;}
ul#topnav li span a{display: inline;}

#conteudo{width:940px;margin-left:auto;margin-right:auto;text-align:left}
#conteudo h1{width:100%;color:#06c;font-size:22px;font-family:arial,helvetica,sans-serif;padding:4px 0 4px 0;margin:20px 0 20px 0;border-bottom:1px solid #999}
#conteudo h2{width:100%;font-family:arial,helvetica,sans-serif;font-size:18px;color:#06c;font-weight:bold;padding:0px 0px 2px 0px;margin:5px 0px 12px 0px;border-bottom:1px solid #999;line-height:0.9em}

#navtop{float:right;width:80px;height:16px;margin-top:-4px;*margin-top:-20px}
#navbottom{float:right;width:60px;height:16px;margin:1px 10px 0 0;*margin-top:-16px}
#navtop a,#navbottom a{float:right;margin-left:8px}

#rodape{width:100%;height:40px;background-color:#eaeaea;border-bottom:1px solid #999;text-align:center;margin:20px 0 10px 0}
#rodape ul{list-style-type:none;margin:0;padding:0;width:90%;padding-top:12px;margin-left:auto;margin-right:auto;*height:16px}
#rodape ul li{float:left;color:#666;margin:0 15px 0 15px;display:inline}
#rodape ul li img{float:left;margin-right:8px}
#rodape ul li a{color:#666}

#copyright{width:100%;color:#666;margin-bottom:10px}
#copyright a{margin:0 11px 0 11px}
#copyright ul{list-style-type:none;margin:0;padding:0;display:inline}
#copyright ul li{display:inline}
#copyright span{white-space:nowrap;margin-left:10px}

.clearboth{clear:both;margin:0;padding:0}

a{color:#06c;text-decoration:none}
a:hover{text-decoration:underline}
img{border:none}

p.colaboradores{padding-top:100px}
#colmeia{position:relative}
.modulo{position:absolute;width:64px;height:59px}
.maparea{position:absolute;left:4px;top:2px;width:47px;height:47px;z-index:3}
.hexagon{position:absolute;left:0px;top:0px;width:64px;height:59px;z-index:2}
.foto{position:absolute;left:1px;top:1px;width:53px;height:48px;z-index:1}

.title{font-family:"tahoma","arial","helvetica",sans-serif;font-size:11px;font-weight:bold;color:#000;line-height:1.4em}
.tituloblk{font-family:"arial","helvetica",sans-serif;font-size:13px;font-weight:bold;color:#000}
.textblk,textblk2{font-family:"tahoma","arial","helvetica",sans-serif;font-size:11px;font-weight:normal;color:#000;line-height:1.4em}
.textblk2 span{color:#c00}
.textbld{font-family:"tahoma","arial","helvetica",sans-serif;font-size:11px;font-weight:bold;color:#000;line-height:1.4em}

.textbox{width:304px;height:19px;border:1px solid #003;background-color:#ffffff;color:#333}
.textbox2{width:78px;height:19px;border:1px solid #003;background-color:#fff;color:#333}
.textbox8{width:256px;height:18px;border:1px solid #003;background-color:#fff;color:#333}
.textbox8b{width:70px;height:18px;border:1px solid #003;background-color:#fff;color:#333}
.textbox8c{width:263px;height:86px;background-color:#fff;color:#333}
.textbox8d{width:202px;height:18px;border:1px solid #003;background-color:#fff;color:#333}
.textbox8e{width:260px;height:21px;border:1px solid #003;background-color:#fff;color:#333}
.textbox9{width:21px;height:18px;border:1px solid #003;background-color:#fff;color:#333;margin-right:10px}
.textbox9b{width:16px;height:18px;border:1px solid #003;background-color:#fff;color:#333;margin-right:10px}
.textareastyle{width:305px;border:1px solid #003;font-family:verdana,arial,helvetica,sans-serif;font-size:12px}
.buttonsty{width:140px;height:19px;background-color:#f1f1f1;border:2px solid #06c;font-family:"verdana","arial","helvetica",sans-serif;font-size:10px;font-weight:bold;color:#000;line-height:11px}
.buttonsty8{width:126px;height:19px;background-color:#f1f1f1;border:2px solid #06c;font-family:"verdana","arial","helvetica",sans-serif;font-size:10px;font-weight:bold;color:#000;line-height:11px}