body{margin:0px;padding:0 0 20px 0}
#global{width:100%;background:none;border:none;margin-top:0px;margin-right:auto;margin-left:auto}
#globalpadding{margin:0}
#loginDiv{display:none}
#logo{display:none}
#plogo{display:block}
#homebanner{display:none}
#homecarousel{display:none}
#pcarousel{display:block}
.homenews{width:100%;border-top:1px solid #eaeaea;margin:20px 0 0 0;padding:20px 0 0 0;float:left}
#conteudo{width:100%;margin-left:auto;margin-right:auto;text-align:left}
#menu{display:none}
#navtop,#navbottom{display:none}
#rodape ul{display:none}
#copyright ul{display:none}
a{color:#000}