/*
body
{
	background-color: buttonface;
}

body, td, input, select, textarea, button
{
	font-size: 11px;
	font-family: 'Microsoft Sans Serif' , Tahoma, Arial, Verdana, Sans-Serif;
}

.ImagePreviewArea
{
	border-right: #000000 1px solid;
	padding-right: 5px;
	border-top: #000000 1px solid;
	padding-left: 5px;
	padding-bottom: 5px;
	overflow: auto;
	border-left: #000000 1px solid;
	width: 100%;
	padding-top: 5px;
	border-bottom: #000000 1px solid;
	height: 100%;
	background-color: #ffffff;
}
*/
body{border:none;margin:10px 20px 20px 20px;overflow:hidden;background-color:#f1f1f1;}
body,td,input,select,textarea,button{font-size:11px;font-family:'Microsoft Sans Serif',tahoma,arial,verdana,sans-serif;}
.ImagePreviewArea{border:1px solid #000;padding:5px;width:80%;height:100%;background-color:#fff;overflow:auto;}

.textblk,.textbold{font-family:verdana,arial,helvetica,sans-serif;font-size:11px;font-weight:normal;color:#000;line-height:1.4em;}
.textbold{font-weight:bold;}

.textbox,.textbox2,.textbox3,.textbox4,.textbox5,.textbox6,.textbox7{height:19px;border:1px solid #000;color:#333;}
.textbox{width:160px;text-align:right;}
.textbox2{width:78px;}
.textbox3{width:410px;}
.textbox4{width:64px;text-align:right;}
.textbox5{width:32px;text-align:right;}
.textbox6{width:255px;}
.textbox7{width:424px;}
.listbox{font-family:monospace,verdana,arial,helvetica,sans-serif;font-size:14px;width:255px;height:19px;color:#333;}
.textareastyle{width:410px;font-family:verdana,arial,helvetica,sans-serif;font-size:12px;}

.butstyle4,.butstyle5,.butstyle6{border:1px ridge #999;background-color:#ddd;text-align:center;width:150px;height:20px;font-family:verdana,arial,helvetica,sans-serif;font-weight:normal;color:#000;font-size:11px;}
.butstyle5{width:78px;}
.butstyle6{margin:0px 10px 0px 10px;}

#cmbAlign{width:80px;}

a{font-family:verdana,arial,helvetica,sans-serif;font-size:11px;font-weight:normal;color:#333;text-decoration:none}
a:hover{color:#009}