
BODY, TD, SELECT, INPUT
{
	font-size: 11px;
	font-family: 'Microsoft Sans Serif' , Tahoma, Arial, Verdana, Sans-Serif;
}

SELECT, INPUT
{
	vertical-align: middle;
}

.Toolbar
{
	background-color: buttonface;
}

.ButtonOut
{
	filter: alpha(opacity=70);
	border-right: #dddddd 1px solid;
	border-top: #dddddd 1px solid;
	border-left: #dddddd 1px solid;
	border-bottom: #dddddd 1px solid;
}

.ButtonOver
{
	background-color: #99ccff;
	border-right: #666666 1px solid;
	border-top: #666666 1px solid;
	border-left: #666666 1px solid;
	border-bottom: #666666 1px solid;
}

.ButtonOff
{
	filter: gray() alpha(opacity=30);
	border-right: #dddddd 1px solid;
	border-top: #dddddd 1px solid;
	border-left: #dddddd 1px solid;
	border-bottom: #dddddd 1px solid;
}

.ButtonHidden
{
	visibility: hidden;
}

.EditorBody
{
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
	margin-left: 5px;
}

.EditorArea
{
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	width: 100%;
	padding-top: 0px;
	height: 100%;
}
