body
{
	font-size: 11px;
	font-family: verdana,arial,helvetica,sans-serif;
	color: #333;
}

.MainHeader
{
	font-weight: bold;
	text-transform: uppercase;
	color: #990066;
}

.BlueTitle
{
	font-weight: bold;
	text-transform: capitalize;
	color: #0099cc;
}

.CenteredTitle
{
	font-weight: bold;
	color: #ff0033;
	text-align: center;
}

.text{font-family:"verdana","arial","helvetica",sans-serif;font-size:11px;font-weight:normal;color:#666666}
.textbold{font-family:"verdana","arial","helvetica",sans-serif;font-size:11px;font-weight:bold;color:#000000}
.textblk{font-family:"verdana","arial","helvetica",sans-serif;font-size:11px;font-weight:normal;color:#000000}
.rodape{font-family:"verdana","arial","helvetica",sans-serif;font-size:10px;font-weight:normal;color:#666666}
.legenda{font-family:"arial","helvetica",sans-serif;font-size:11px;font-weight:normal;color:#666666}
.legendablk{font-family:"arial","helvetica",sans-serif;font-size:11px;font-weight:normal;color:#000000}
.assinatura{font-family:"verdana","arial","helvetica",sans-serif;font-size:11px;font-weight:normal;font-style:italic;color:#000000}
.title{font-family:"verdana","arial","helvetica",sans-serif;font-size:9pt;font-weight:bold;color:#000000}

a{font-family:verdana,arial,helvetica,sans-serif;font-size:11px;font-weight:normal;color:#000066;text-decoration:none}
a:hover{color:#000066}

img{border:none}